.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.logo {
    white-space: nowrap;
    color: #E3B873;
}

.header {
    background-color: #131313;


}

.header-navigation {
    list-style: none;
    display: flex;
}


.header-navigation_item_number {
    color: #E3B873;
    margin-right: 45px;
    margin-left: 67px;
    white-space: nowrap;
}

.header-navigation_item {
    margin-right: 47px;

}


.color-hrf:hover {
    color: #E3B873;
}

.header-navigation_item a {
    text-decoration: none;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-family: 'Nunito Sans';
}

.hero {
    background-image: url("img/hero.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);

}

.hero-container {
    position: relative;
    z-index: 1;
}


.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.content-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.button-calculate {

    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    color: white;
    font-family: 'Nunito Sans';
    border: none;
    padding: 19px 32px;
    margin-right: 20px;
    width: 207px;
    height: 51px;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.button-submit {
    background-color: Transparent;
    background-repeat: no-repeat;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: white;
    border-color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 19px 32px;
    width: 207px;
    height: 51px;
    white-space: nowrap;
}

.hero-black {
    background: #131313;
    background-size: cover;
    height: 1174px;
    padding-top: 194px;
    position: relative;
    padding-top: 0px;


}

@media (max-device-width: 700px) {
    .header-navigation {
        display: none;
    }

    .button {
        display: none;
    }

    .button-calc-subm {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        display: inline-flex;
        flex-direction: column;
    }

    .hero {
        display: flex;
    }

    .hero-container {
        display: inline-flex;
        flex-direction: column;
    }

    .button-submit {
        margin-top: 30px;
        width: 307px;
        height: 51px;
    }

    .button-calculate {
        margin-top: 30px;
        width: 307px;
        height: 51px;
    }

    .header-navigation {
        margin-right: 18px;
    }

    .logo {
        margin-left: 18px;
    }
}


@media screen and (max-width: 1100px) {
    .header-navigation {
        display: none;
    }

    .header-navigation {
        margin-right: 18px;
    }

    .logo {
        margin-left: 18px;
    }

    .button {
        display: none;
    }

    .button-calc-subm {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        display: inline-flex;
        flex-direction: column;
    }

    .hero {
        display: flex;
    }

    .hero-container {
        display: inline-flex;
        flex-direction: column;
    }

    .button-submit {
        margin-top: 30px;
        width: 307px;
        height: 51px;
    }

    .button-calculate {
        margin-top: 30px;
        width: 307px;
        height: 51px;
    }
}

.menu-interier {
    margin-bottom: 52px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;


}

.right-mod {

    display: flex;
    flex-direction: column;
    margin-right: 190px;
    margin-top: 107px;
    margin-left: 50px;

}

.selecter-room-navigation {
    list-style: none;
    display: flex;
    padding-left: 0px;
}

.selecter-room-navigation_item {
    margin-right: 47px;

}

.selecter-room-navigation_item a {
    text-decoration: none;
    color: white;
}

.selecter-room-navigation_item:hover {
    text-decoration: underline;
}

.left-mod {
    padding-top: 176px;

}

.content-room-selector {
    padding-top: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.completed-projects {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-right: 239px;
    color: #E3B873;
}

.complated-projects-content {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    margin-right: 50px;
    color: #FFFFFF;
}

.object-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
}

.object-grid-heading {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #E3B873;
}

.sercle {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    height: 9.57px;
    width: 9.57px;
    margin-right: 17.54px;
}

.sercle-menu {
    padding-left: 70px;
    display: flex;
}

.sercle:hover {
    background: #FFFFFF;
}

.online-control {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.centr-mod {

    display: flex;
    flex-direction: column;
}

.vector-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.image-worke {
    margin-top: -201px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    filter: brightness(30%)
}

.play {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 85px;
    height: 85px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 60px;

}

.play-triangle {
    position: absolute;
    left: 33px;
    top: 25px;
    text-align: center;
    border-top: 18px solid transparent;
    border-left: 26px solid rgb(255, 255, 255);
    border-bottom: 18px solid transparent;
}


.double-stice {
    margin-left: 10px;
    margin-right: 10px;
    background: #E3B873;
    border-radius: 30px;
    height: 1.54px;
    width: 55px;
}

.stice {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 62px;
    background: #E3B873;
    border-radius: 30px;
    height: 1.54px;
    width: 55px;
}

.text-rev {


    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;

    color: #363636;
}

.section-form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 91px;
}

.form {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    outline: 0;

    color: #363636;


}

.text-field__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    display: block;
    margin-bottom: 0.25rem;
}

.form-margin {
    margin-left: 58px;
    margin-right: 58px;
}

.button-submit-form {
    width: 200px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.label {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .fake::before {
    opacity: 1;
}

.text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;


    color: #181818;
}

.first-checkbox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.TYPES-OF-REPAIR {
    margin-top: 75px;
    margin-bottom: 13px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.margin-section {
    margin-top: 31px;
    margin-bottom: 124px;
    margin-left: 103px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: row;
}

.margin-white-box {

    margin-right: 30px;
}

.white-box {
    flex-direction: column;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: -201px;

    position: relative;
    height: 330px;
    width: 330px;
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.checkbox-headings {
    margin-left: 34px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.checkbox-content {
    margin-left: 34px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;

    color: #959595;
}

.button-buyer {
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    outline: 0;
    border: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.img-white-back {
    display: flex;
    margin-left: -360px;
    position: relative;
}

.section-reg-form {
    display: flex;
    margin-top: 130px;

    margin-bottom: 50px;
}

.sercle-item {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 45px;
    height: 45px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 60px;


}

.text-in-sercl-items {

    margin-top: 11px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

.list-of-point {
    margin-top: 70px;
}


.black-square {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    height: 509px;
    width: 506px;
    margin-top: 90px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;

}

.form-black-block {
    background: transparent;
    border: 0;
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    color: white;
    outline: 0;


}

.chekbox-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    /* or 23px */


    color: #FFFFFF;
}